.landing{
  background: linear-gradient(to bottom right,#12121359,#aa8a52a3), url(/public/images/landing.jpg) center center no-repeat;
  height: 100vh;
  background-size: cover;
  width: 100%;

nav .container{
  align-items: center;
    /* background: #fff; */
    /* position: fixed; */
    width: 90%;
    height: 5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 2%;

    input{
      background: transparent;
      border: none;
    }

    .nav-item{
      a{
        margin-right: 50px;
        text-decoration: none;
        color: $fc-white;
        font-weight: 600;
      }
    }

  }

  .bodyText{
    height: 65vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-flow: column;

    .bodyMain{
      font-size: 3em;
      font-weight: 600;
      text-shadow: 2px 1px $fc-dark-yellow;
    }

    .subtext{
      width: 30%;
      text-align: right;
      font-weight: 600;
    }
  }

  .landingFoot .container{
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    .landingPhoto{
      p{
        font-weight: 600;
        padding-bottom: 5px;
      }
      span{
        font-weight: 600;
        font-size: 1.15em;
        letter-spacing: 1px;
      }
    }
  }
}