@import 'reset';
@import 'variables';
@import 'landing';
@import 'landingImages';

body{
  background: black;
  color: $fc-black;
  width: 100%;
}

i{
  color: $fc-dark-yellow;
}

.container{
  padding: 0% 5%;
}
